<!DOCTYPE html>
<html lang="en">

<%- include ('./parciais/header.ejs')%>

<body>

    <%- include ('./parciais/nav.ejs')%>

    <div>
        <h2>Sobre nós</h2>
        <p>-A mais de 10 anos fornecendo o que te faz bem !!! É verdade confia em mim ;</p>
        <p>-Com mais de 40 filiais espalhadas pelo Brasil ,e pelo mundo atendendo com excelência todos os nossos clientes </p>
        <p>-Qualquer dúvida entrar em contato pelo Email Farmácia@gmail.com</p>
    </div>


    <%- include('./parciais/footer.ejs')%>
    
</body>
</html>
