<!DOCTYPE html>
<html lang="en">

<%- include ('./parciais/header.ejs')%>

<body>
    
    <%- include ('./parciais/nav.ejs')%>

    <div class="novo">
        <form action="/farmacos" method="post">
            <label for="nome">Nome do Fármaco</label>
            <input type="text" name="nome" id="nome" required>
            <label for="quantidade">Quantidade</label>
            <input type="number" name="quantidade" id="quantidade" required>
            <label for="setor">Setor</label>
            <input type="text" name="setor" id="setor" required>
            <button>Adicionar</button>
        </form>
    </div>

    <%- include('./parciais/footer.ejs')%>
    
</body>
</html>