@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  background-color: #ffffff;
}

p, h1, h2, h3, a, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav p, nav a {
  color: #777;
  font-weight: 300;
}

nav a:hover {
  background: LightSeaGreen;
  color: white;
  padding: 5px;
  border-radius: 7px;
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}

.produtos a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid LightSeaGreen;
}

.produtos button {
  background: LightSeaGreen;
  color: white;
  border: 0;
  font-size: 1.0em;
  cursor: pointer;
  border-radius: 7px;
}

.busca button {
  background: LightSeaGreen;
  color: white;
  border: 0;
  font-size: 1.0em;
  cursor: pointer;
  border-radius: 7px;
}

.produtos a:hover h3 {
  color: LightSeaGreen;
}

.detalhes {
  position: relative;
}

.detalhes h2 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.detalhes h2:hover {
  color: LightSeaGreen;
}

.detalhes p {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid LightSeaGreen;
}

.detalhes a {
  background: LightSeaGreen;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10%;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.edit {
  position: absolute;
  top: 0;
  right: 120px;
  border-radius: 10%;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px LightSeaGreen;
  color: rgb(255, 255, 255);
}

.edit:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px LightSeaGreen;
}

.novo form {
  max-width: 400px;
  margin: 0 auto;
}

.novo input,
.novo textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.novo label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.novo button {
  margin-top: 20px;
  background: LightSeaGreen;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.menu a {
  background: LightSeaGreen;
  color: aliceblue;
  border-radius: 5px 5px 5px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 32%;
  height: 60%;
  border-radius: 7px 7px 7px;
  box-shadow: 3px 4px 5px #5a5a5a;
}

.modal form {
  max-width: 400px;
  margin: 0 auto;
}

.modal input,
.modal textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.modal label {
  display: block;
  margin-top: 24px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.modal button {
  margin-top: 20px;
  background: LightSeaGreen;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px 4px 4px;
}

.modal button:hover {
  border-radius: 7px 7px 7px;
  box-shadow: 1px 2px 3px brown;
}

.modal h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  background: LightSeaGreen;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px 20px 20px;
}

.funcionarios a {
  background: LightSeaGreen;
  color: aliceblue;
  border-radius: 5px 5px 5px;
  padding: 5px;
}

.contratar a {
  background: LightSeaGreen;
  color: aliceblue;
  border-radius: 5px 5px 5px;
  padding: 5px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.single produto-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.title {
    font-size: 18px;
    margin: 0 0 10px;
}

.quantidade {
    font-size: 14px;
    margin: 0;
}
