<nav class="site-title">
    <div>
        <a href="/storage"><h1>Farmácia</h1></a>
        <p>Seja bem vindo</p>
    </div>
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/autentificar">Área do ADM</a></li>
        <li><a href="/storage">Estoque</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/create">Novo Produto</a></li>
        <li><a href="/logout">Sair</a></li>
    </ul>
</nav>
